# fly.toml app configuration file generated for access-bank on 2025-12-11T05:38:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'access-bank'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3030
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
