* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  html{

  }
  body {
    display: flex;
    justify-content: center;
    background-image: url('uu.jpg');
    align-items: center;
   overflow-x: hidden;
   overflow-y: hidden;
      background-repeat:space;
   background-size:cover;
    height: 100vh;

  }
  
  .container {
    text-align: center;
    max-width: 480px;
    width: 90%;
   
   
    padding: 40px 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
  }
  
  .logo-section {
    display: flex;
    margin-top: 1rem;
    gap: 60px;
   
    margin-bottom: 30px;
  }
  
  .logo {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: contain;
  }
  
  .input-group {
  text-align: left;
}

label {
  font-size: 0.85rem;
  font-weight: 500;
  color: #111;
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  background-color: black;
  padding: 13px 14px;
  border: 2px groove gray;
  border-radius: 6px;
  color: white;
  font-size: medium;
  font-size: 0.95rem;
  
  outline: none;
}
  .logo.small {
    width: 60px;
    height: 60px;
    margin-left: 35%;
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #0d1b2a;
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form-box{
    color: #444;
    margin-top: 5rem;
    font-size: 0.9rem;
    width: 100%;
   
  }
  p {
    color: #444;
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    height: 140px;
    border: 2px groove gray;
    border-radius: 6px;
    padding: 10px;
    float: left;
    color: white;
    resize: none;
    background-color: black;
    outline: none;
    font-size:medium;
    margin-bottom: 20px;
  }
  textarea::placeholder{
    font-size: medium;
  }
  .note {
    font-size: 0.85rem;
    color: white;
    margin-bottom: 20px;
  }
  
  button {
  
    background-color: #40196D;
    
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 1rem;
    width: 100%;
    float: left;
    cursor: not-allowed;
  }
  
  button.active {
    background-color: #40196D;
    cursor: pointer;
  }
  
  button {
    transition: all 0.3s ease;
  }
  
  button.active {
    background-color: #40196D;
    transform: scale(1.02);
  }
  
  button.active:hover {
    background-color: #451d74;
  }
  @media (max-width: 480px) {
    .container {
      width: 90%;
      padding: 25px 15px;
    }
  
    textarea, input, button {
      font-size: 0.9rem;
    }
  
    h2 {
      font-size: 1.3rem;
    }
  }

    
